<?xml version="1.0"?>
<config>
    <modules>
        <Paynova_Paso>
            <version>0.0.0.2</version>
        </Paynova_Paso>
    </modules>
    <global>
    	<sales>
    		<order>
    			<states>
					<new translate="label">
						<label>New</label>
						<statuses>
							<processing default="1"/>
						</statuses>
						<visible_on_front/>
					</new>
				</states>
    		</order>
    	</sales>	
        <models>
            <paso>
                <class>Paynova_Paso_Model</class>
            </paso>
        </models>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <paynova_paso>
                        <type>singleton</type>
                        <class>Paynova_Paso_Model_Observer</class>
                        <method>afterOrderSaveMethod</method>
                    </paynova_paso>
                </observers>
            </checkout_type_onepage_save_order>

            <sales_convert_quote_to_order>
                <observers>
                    <paynova_remove_GovId_from_quote>
                        <class>Paynova_Paso_Model_Observer</class>
                        <method>removeGovIdFromQuote</method>
                    </paynova_remove_GovId_from_quote>
                </observers>
            </sales_convert_quote_to_order>
            <sales_order_payment_capture>
                <observers>
                    <set_current_invoice_to_capture>
                        <type>singleton</type>
                        <class>Paynova_Paso_Model_Observer</class>
                        <method>setCurrentInvoiceToCapture</method>
                    </set_current_invoice_to_capture>
                </observers>
            </sales_order_payment_capture>
	    </events>
       <helpers>
            <paso>
                <class>Paynova_Paso_Helper</class>
            </paso>
        </helpers>
        <blocks>
            <paso><class>Paynova_paso_Block</class></paso>
        </blocks>
        <template>
            <email>
               <paso_activateemail>
                   <label>Paynova activate email</label>
                   <file>paso_activateemail.html</file>
                   <type>html</type>
               </paso_activateemail>
            </email>
        </template>
        <payment>
            <groups>
                <mpaso>paso</mpaso>
            </groups>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <paso_processing>/paso/processing</paso_processing>
        </secure_url>
        <routers>
            <paso>
                <use>standard</use>
                <args>
                    <module>Paynova_Paso</module>
                    <frontName>paso</frontName>
                </args>
            </paso>
        </routers>
        <translate>
            <modules>
                <Paynova_paso>
                    <files>
                        <default>Paynova_paso.csv</default>
                    </files>
                </Paynova_paso>
            </modules>
        </translate>
        <layout>
            <updates>
                <paso>
                    <file>paynova_paso.xml</file>
                </paso>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <paso after="Mage_Adminhtml">Paynova_paso</paso>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
        <sales_order_payment_cancel>
            <observers>
                <paynova_paso>
                    <type>singleton</type>
                    <class>Paynova_Paso_Model_Observer</class>
                    <method>send_paynova_cancel</method>
                </paynova_paso>
            </observers>
        </sales_order_payment_cancel>
        </events>
        <translate>
            <modules>
                <Paynova_paso>
                    <files>
                        <default>Paynova_paso.csv</default>
                    </files>
                </Paynova_paso>
            </modules>
        </translate>
        <layout>
            <updates>
                <paso>
                    <file>paynova_paso.xml</file>
                </paso>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paso translate="title" module="paso">
                                            <title>paso Settings</title>
                                        </paso>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <paso>
            <settings>
                <api_live_url>api.paynova.com</api_live_url>
                <api_test_url>testapi.paynova.com</api_test_url>
                <session_timeout>600</session_timeout>
                <autofinalize>0</autofinalize>
                <display_line_items>0</display_line_items>
                <paymentChannelId>1</paymentChannelId>
                <productunit>pcs</productunit>
                <shippingname>Shipping</shippingname>
                <shippingsku>Shipping</shippingsku>
            </settings>
        </paso>
        <payment>
            <paso_acc>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/acc</model>
                <sort_order>1</sort_order>
                <title>Credit/Debit Card</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paso_acc>
            <paso_allcards>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/allcards</model>
                <sort_order>1</sort_order>
                <title>All Cards</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paso_allcards>
            <paso_allbanks>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/allbanks</model>
                <sort_order>1</sort_order>
                <title>All Banks</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paso_allbanks>
            <paso_invoice>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/invoice</model>
                <sort_order>1</sort_order>
                <title>Invoice</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paso_invoice>
            <paso_did>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/did</model>
                <title>ELV/Lastschrift</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>DE</specificcountry>
            </paso_did>
            <paso_dnk>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/dnk</model>
                <title>Danske Bank</title>
                <allowspecific>1</allowspecific>
                <currency>DKK</currency>
                <specificcountry>DK</specificcountry>
            </paso_dnk>
            <paso_ebt>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/ebt</model>
                <title>Nordea</title>
                <allowspecific>1</allowspecific>
                <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paso_ebt>
            <paso_gir>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/gir</model>
                <title>Überweisung</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>DE</specificcountry>
            </paso_gir>
            
            <paso_idl>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/idl</model>
                <title>iDEAL</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>NL</specificcountry>
            </paso_idl>
            
            <paso_so2>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/so2</model>
                <title>Nordea</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paso_so2>
            <!--  tab added for Sweden and Finland -->
            <paso_swe>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/swe</model>
                <title>Swedbank</title>
                <allowspecific>1</allowspecific>
                <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paso_swe>
            
            <paso_seb>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/seb</model>
                <title>SEB</title>
                <allowspecific>1</allowspecific>
                <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paso_seb>
            
            <paso_han>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/han</model>
                <title>Handelsbanken</title>
                <allowspecific>1</allowspecific>
                 <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paso_han>
      		 
      		<paso_akt>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/akt</model>
                <title>Aktia</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paso_akt>
            
            <paso_sam>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/sam</model>
                <title>Sampo</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paso_sam>
          
            <paso_poh>
                <group>mpaso</group>
                <active>0</active>
                <model>paso/poh</model>
                <title>Pohjola</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paso_poh>
      		 
        </payment>
        <paso>
            <settings>
                <activationstatus>0</activationstatus>
            </settings>
        </paso>
    </default>
</config>
