<?xml version="1.0"?>
<config>
    <modules>
        <Paynova_Paynovapayment>
            <version>0.0.0.3</version>
        </Paynova_Paynovapayment>
    </modules>
    <global>
    	<sales>
    		<order>
    			<states>
					<new translate="label">
						<label>New</label>
						<statuses>
							<processing default="1"/>
						</statuses>
						<visible_on_front/>
					</new>
				</states>
    		</order>
    	</sales>	
        <models>
            <paynovapayment>
                <class>Paynova_Paynovapayment_Model</class>
            </paynovapayment>
        </models>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <paynova_paynovapayment>
                        <type>singleton</type>
                        <class>Paynova_Paynovapayment_Model_Observer</class>
                        <method>afterOrderSaveMethod</method>
                    </paynova_paynovapayment>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_convert_quote_to_order>
                <observers>
                    <paynova_remove_GovId_from_quote>
                        <class>Paynova_Paynovapayment_Model_Observer</class>
                        <method>removeGovIdFromQuote</method>
                    </paynova_remove_GovId_from_quote>
                </observers>
            </sales_convert_quote_to_order>
            <sales_order_payment_capture>
                <observers>
                    <set_current_invoice_to_capture>
                        <type>singleton</type>
                        <class>Paynova_Paynovapayment_Model_Observer</class>
                        <method>setCurrentInvoiceToCapture</method>
                    </set_current_invoice_to_capture>
                </observers>
            </sales_order_payment_capture>
            <sales_order_creditmemo_refund>
                <observers>
                    <paynova_refund>
                        <type>singleton</type>
                        <class>Paynova_Paynovapayment_Model_Observer</class>
                        <method>orderRefund</method>
                    </paynova_refund>
                </observers>
            </sales_order_creditmemo_refund>
	    </events>
       <helpers>
            <paynovapayment>
                <class>Paynova_Paynovapayment_Helper</class>
            </paynovapayment>
        </helpers>
        <blocks>
            <paynovapayment><class>Paynova_paynovapayment_Block</class></paynovapayment>
        </blocks>
        <template>
            <email>
               <paynovapayment_activateemail>
                   <label>Paynova activate email</label>
                   <file>paynovapayment_activateemail.html</file>
                   <type>html</type>
               </paynovapayment_activateemail>
            </email>
        </template>
        <payment>
            <groups>
                <mpaynovapayment>paynovapayment</mpaynovapayment>
            </groups>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <paynovapayment_processing>/paynovapayment/processing</paynovapayment_processing>
        </secure_url>
        <routers>
            <paynovapayment>
                <use>standard</use>
                <args>
                    <module>Paynova_Paynovapayment</module>
                    <frontName>paynovapayment</frontName>
                </args>
            </paynovapayment>
        </routers>
        <translate>
            <modules>
                <Paynova_paynovapayment>
                    <files>
                        <default>Paynova_paynovapayment.csv</default>
                    </files>
                </Paynova_paynovapayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <paynovapayment>
                    <file>paynova_paynovapayment.xml</file>
                </paynovapayment>
            </updates>
        </layout>
        <events>
            <sales_order_payment_capture>
                <observers>
                    <set_current_invoice_to_capture>
                        <type>singleton</type>
                        <class>Paynova_Paynovapayment_Model_Observer</class>
                        <method>setCurrentInvoiceToCapture</method>
                    </set_current_invoice_to_capture>
                </observers>
            </sales_order_payment_capture>
        </events>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <paynovapayment after="Mage_Adminhtml">Paynova_paynovapayment</paynovapayment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
        <sales_order_payment_cancel>
            <observers>
                <paynova_paynovapayment>
                    <type>singleton</type>
                    <class>Paynova_Paynovapayment_Model_Observer</class>
                    <method>send_paynova_cancel</method>
                </paynova_paynovapayment>
            </observers>
        </sales_order_payment_cancel>
            <sales_order_payment_capture>
                <observers>
                    <set_current_invoice_to_capture>
                        <type>singleton</type>
                        <class>Paynova_Paynovapayment_Model_Observer</class>
                        <method>setCurrentInvoiceToCapture</method>
                    </set_current_invoice_to_capture>
                </observers>
            </sales_order_payment_capture>
        </events>
        <translate>
            <modules>
                <Paynova_paynovapayment>
                    <files>
                        <default>Paynova_paynovapayment.csv</default>
                    </files>
                </Paynova_paynovapayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <paynovapayment>
                    <file>paynova_paynovapayment.xml</file>
                </paynovapayment>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paynovapayment translate="title" module="paynovapayment">
                                            <title>paynovapayment Settings</title>
                                        </paynovapayment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <paynovapayment>
            <advanced_settings>
                <session_timeout>600</session_timeout>
                <auto_finalize>0</auto_finalize>
                <display_line_items>0</display_line_items>
                <payment_channel_id>1</payment_channel_id>
                <product_unit>pcs</product_unit>
                <shipping_name>Shipping</shipping_name>
                <shipping_sku>Shipping</shipping_sku>
            </advanced_settings>
        </paynovapayment>
        <payment>
            <paynovapayment_acc>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/acc</model>
                <sort_order>1</sort_order>
                <title>Credit/Debit Card</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paynovapayment_acc>
            <paynovapayment_paypal>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/paypal</model>
                <sort_order>1</sort_order>
                <title>E-Account/Wallet Paypal</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paynovapayment_paypal>
            <paynovapayment_masterpass>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/masterpass</model>
                <sort_order>1</sort_order>
                <title>E-Account/Wallet Masterpass</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paynovapayment_masterpass>
            <paynovapayment_allcards>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/allcards</model>
                <sort_order>1</sort_order>
                <title>All Cards</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paynovapayment_allcards>
            <paynovapayment_allbanks>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/allbanks</model>
                <sort_order>1</sort_order>
                <title>All Banks</title>
                <allowspecific>0</allowspecific>
                <currency>USD,EUR,GBP,SEK,NOK,DKK,CHF,AUD,NZD,HKD,SGD,CAD,PLN,TRY,CNY,JPY</currency>
            </paynovapayment_allbanks>
            <paynovapayment_invoice>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/invoice</model>
                <sort_order>1</sort_order>
                <title>Invoice</title>
                <allowspecific>0</allowspecific>
                <currency>SEK</currency>
            </paynovapayment_invoice>
            <paynovapayment_installment>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/installment</model>
                <sort_order>1</sort_order>
                <title>Installment</title>
                <allowspecific>0</allowspecific>
                <currency>SEK</currency>
            </paynovapayment_installment>
            <paynovapayment_did>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/did</model>
                <title>ELV/Lastschrift</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>DE</specificcountry>
            </paynovapayment_did>
            <paynovapayment_dnk>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/dnk</model>
                <title>Danske Bank</title>
                <allowspecific>1</allowspecific>
                <currency>DKK</currency>
                <specificcountry>DK</specificcountry>
            </paynovapayment_dnk>
            <paynovapayment_ebt>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/ebt</model>
                <title>Nordea</title>
                <allowspecific>1</allowspecific>
                <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paynovapayment_ebt>
            <paynovapayment_gir>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/gir</model>
                <title>Überweisung</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>DE</specificcountry>
            </paynovapayment_gir>
            
            <paynovapayment_idl>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/idl</model>
                <title>iDEAL</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>NL</specificcountry>
            </paynovapayment_idl>
            
            <paynovapayment_so2>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/so2</model>
                <title>Nordea</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paynovapayment_so2>

            <paynovapayment_swe>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/swe</model>
                <title>Swedbank</title>
                <allowspecific>1</allowspecific>
                <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paynovapayment_swe>
            
            <paynovapayment_seb>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/seb</model>
                <title>SEB</title>
                <allowspecific>1</allowspecific>
                <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paynovapayment_seb>
            
            <paynovapayment_han>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/han</model>
                <title>Handelsbanken</title>
                <allowspecific>1</allowspecific>
                 <currency>SEK</currency>
                <specificcountry>SE</specificcountry>
            </paynovapayment_han>
      		 
      		<paynovapayment_akt>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/akt</model>
                <title>Aktia</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paynovapayment_akt>
            
            <paynovapayment_sam>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/sam</model>
                <title>Sampo</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paynovapayment_sam>
          
            <paynovapayment_poh>
                <group>mpaynovapayment</group>
                <active>0</active>
                <model>paynovapayment/poh</model>
                <title>Pohjola</title>
                <allowspecific>1</allowspecific>
                <currency>EUR</currency>
                <specificcountry>FI</specificcountry>
            </paynovapayment_poh>
      		 
        </payment>
        <paynovapayment>
            <settings>
                <activationstatus>0</activationstatus>
            </settings>
        </paynovapayment>
    </default>
</config>
